a {
    color:white;
}

//Navigation
.navPC {
    @media only screen and (max-width:500px){
        display: none;
    }
    @media only screen and (min-width:500px){
        background-color: #045658;
        color:white;
        width: 100vw;
        height:56px;
        display:flex;
        top: 0;
        position: fixed;
        .logoPC{
            display: flex;
            align-items: center;
        }
    }
}

.navMobile {
    @media only screen and (min-width:500px){
        display: none;
    }
    background-color: #045658;
    display:flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100vw;
    .logoMobile{
        display: flex;
        align-items: center;
    }
}

.navMobileItems {
    display:flex;
    flex-direction: column;
    text-align: right;
    justify-content: right;
}

.navbar-toggler { 
    margin: 0 auto; 
}

.navButton {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100vw;
}

//Footer

.footer {
    display:flex;
    background-color: #fdac07;
    width: 100vw;
    margin:auto;
}

//Login Page:
.login {
    padding-top: 56px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 100px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

//Home Page:
.manualsHomePage { 
    display:flex;
    flex-direction: row;
    height:100vh;
    width: 100vw;
    justify-content: space-evenly;
    padding-top: 56px;
    .manualsHomePage1 {
        background-color: #47802b;
        flex-grow: 1;
    }
    .manualsHomePage2 {
        background-color: #ef6101;
        flex-grow: 1;
    }
    .addManualExpand{
        background-color: #47802b;
        flex-grow: 3;
    }
    .myManualExpand{
        background-color: #ef6101;
        flex-grow: 3;
    }
}

.aboutHomePage{
    background-color: #03161d;
    color:white;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-grow: 1;
    padding-top: 56px;
}

.contactHomePage{
    background-color: #47802b;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-grow: 1;
    margin-bottom: 0;
    padding-top: 56px;
}

//My Manuals
.myManuals-each {
    display: flex;
    margin: 1em;
    justify-content: space-around;
}

.myManuals-each-child {
    width:24px;
    justify-content: center;
}

.myManuals-each-child-name {
    width:47px;
}
.myManuals-each-child-id {
    width:1px;
}

button {
  display: inline-block;
  font-weight: 300;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ef6101;
  border: 1px solid transparent;
  padding: 0.175rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-edit{
    background-color:#ef6101;
    color:white
}

.button-view {
    background-color: #079a9c;
    color:white;
}

.button-delete{
    background-color: red;
    color:white
}

.button-create {
    margin: 2em;
}