@import "components/nav.scss";
@import "components/main.scss";
@import "components/footer.scss";


* {
    box-sizing: border-box;
  }


body{
    font-family: 'Montserrat', sans-serif;
    background-color: lightblue;
    width: 100%;
    margin:0;
  @media screen and (max-width: 576px) {
    width:100%;
    height: 100vh;
    margin: 0;
  }
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 900;
}


footer{
    background-color: white;
    display: block;
    padding: 2rem;
    text-align: center;
}