@import "components/nav.scss";
@import "components/main.scss";
@import "components/footer.scss";


* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
  }

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin:0;
    background-color: lightblue;
  @media screen and (max-width: 700px) {
    min-width:700px;
    height: 100vh;
    margin: 0;
  }
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

h2{
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

footer{
    display: block;
    padding: 2rem;
    background-color: white;
    text-align: center;
}